<!-- main.hbs-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>West Coast Airlines</title>
</head>

<div class="links-container">
	<a href="/">(Home)</a>
	<a href="passengers">(Passengers)</a>
	<a href="itineraries">(Itineraries)</a>
	<a href="airports">(Airports)</a>
	<a href="crew">(Crew)</a>
	<a href="planes">(Planes)</a>
	{{!-- <a href="MtoM.html">(M:M Relationships)</a> --}}
</div>

<body>

    {{{body}}}

</body>
</html>