
{{!-- NOTE:  all .js and .hbs files were modified from the starter code provided by the following link: https://github.com/osu-cs340-ecampus/nodejs-starter-app --}}

<!DOCTYPE html>
<html>

<link rel="stylesheet" href="./style.css">

<h2 style="color:black;">WELCOME TO OUR COMPANY.</h2>

<body>
	<h3 style="color:orange;">Click on the tab above to manage each category.</h3>
</body>

</html>
